# 环境变量（敏感信息）
.env
*.env

# 虚拟环境
env/
venv/
.venv/

# uv cache
.uv/
requirements.txt.bak

# Python 编译文件
__pycache__/
*.py[cod]
*$py.class
*.pyo

# 分发 / 打包
dist/
build/
*.egg-info/
*.egg
MinerU-master.zip

# 单元测试 / 覆盖率
.pytest_cache/
.coverage
htmlcov/

# IDE
.idea/
.vscode/
*.swp
*.swo

# macOS
.DS_Store

# sample
example/
