absl-py==2.1.0
aiofiles==25.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
airportsdata==20250811
annotated-doc==0.0.4
annotated-types==0.7.0
anthropic==0.71.0
antlr4-python3-runtime==4.13.2
anyio==4.13.0
apache-tvm-ffi==0.1.10
arctic_inference==0.1.1
asc_op_compile_base @ file:///home/mep/selfgz64885295/lib/asc_op_compile_base-0.1.0-py3-none-any.whl
asc_opc_tool @ file:///home/mep/selfgz64885295/lib/asc_opc_tool-0.1.0-py3-none-any.whl
astor==0.8.1
async-timeout==5.0.1
attrs==23.2.0
audioread==3.1.0
auto_tune @ file:///home/mep/selfgz233935534/share/info/tbe-tik/python/auto_tune-0.1.0-py3-none-any.whl
av==12.3.0
bcrypt==5.0.0
blake3==1.0.8
blinker==1.9.0
blobfile==3.0.0
cachetools==7.0.5
certifi==2024.8.30
cffi==2.0.0
charset-normalizer==3.4.0
click==8.3.2
cloudpickle==3.1.2
cmake==4.2.1
colorama==0.4.6
compressed-tensors==0.12.2
concurrent-log-handler==0.9.25
contourpy==1.3.0
crypto==1.4.1
cuda-bindings==13.2.0
cuda-pathfinder==1.5.3
cuda-python==13.2.0
cupy-cuda12x==14.0.1
cycler==0.12.1
Cython==3.0.10
dataflow @ file:///home/mep/selfgz15741798/ge-compiler/lib64/dataflow-0.0.1-py3-none-any.whl
datasets==4.4.1
decorator==5.1.1
depyf==0.20.0
dill==0.4.0
diskcache==5.6.3
distro==1.9.0
dnspython==2.8.0
docstring_parser==0.18.0
editdistance==0.8.1
einops==0.8.0
email-validator==2.3.0
es_math @ file:///home/mep/selfgz86611305/ops_math/es_packages/whl/es_math-1.0.0-py3-none-any.whl
exceptiongroup==1.2.2
fastapi==0.123.10
fastapi-cli==0.0.24
fastapi-cloud-cli==0.17.0
fastar==0.11.0
fastuuid==0.14.0
filelock==3.16.1
flashinfer-python==0.5.3
Flask==3.1.3
fonttools==4.55.0
frozenlist==1.8.0
fsspec==2024.10.0
func-timeout==4.3.5
ge-py @ file:///home/mep/selfgz15741798/ge-compiler/lib64/ge_py-0.0.1-py3-none-any.whl
gguf==0.17.1
greenlet==3.4.0
grpcio==1.65.4
grpcio-tools==1.65.4
gunicorn==22.0.0
h11==0.16.0
h2==4.3.0
hccl @ file:///home/mep/selfgz408974214/hcomm/lib64/hccl-0.1.0-py3-none-any.whl
hf-xet==1.4.3
hpack==4.1.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
httpx-sse==0.4.3
huggingface_hub==0.36.2
Hypercorn==0.18.0
hyperframe==6.1.0
idna==3.10
ijson==3.5.0
ImageIO==2.37.3
imagesize==1.4.1
importlib_metadata==9.0.0
interegular==0.3.3
invoke==2.2.1
itsdangerous==2.2.0
Jinja2==3.1.6
jiter==0.13.0
jmespath==1.1.0
joblib==1.5.3
jsonschema==4.25.0
jsonschema-specifications==2025.4.1
kiwisolver==1.4.5
lark==1.2.2
lazy-loader==0.5
librosa==0.10.2
litellm==1.80.10
llguidance==1.3.0
llm_datadist @ file:///home/mep/selfgz7918030519/hixl/lib/llm_datadist-0.0.1-py3-none-any.whl
llm_datadist_v1 @ file:///home/mep/selfgz15741798/ge-compiler/lib64/llm_datadist_v1-0.0.1-py3-none-any.whl
llvmlite==0.44.0
lm-format-enforcer==0.11.3
loguru==0.7.2
lxml==6.0.2
markdown-it-py==4.0.0
MarkupSafe==3.0.2
matplotlib==3.9.1
mcp==1.12.4
mdurl==0.1.2
mistral_common==1.9.0
model-hosting-container-standards==0.1.13
mpmath==1.3.0
msgpack==1.1.1
msgspec==0.20.0
msobjdump @ file:///usr/local/Ascend/cann/tools/msobjdump-0.1.0-py3-none-any.whl
mspti @ file:///usr/local/Ascend/cann-8.5.1/tools/mspti/python/mspti-0.0.1-py3-none-any.whl
multidict==6.7.1
multiprocess==0.70.18
Naked==0.1.32
nest-asyncio==1.6.0
networkx==3.4.2
ninja==1.13.0
nltk==3.9.4
numba==0.61.2
numpy==1.26.4
nvidia-cudnn-frontend==1.22.1
nvidia-cutlass-dsl==4.4.2
nvidia-cutlass-dsl-libs-base==4.4.2
nvidia-ml-py==13.595.45
op_compile_tool @ file:///home/mep/selfgz233935534/share/info/tbe-tik/python/op_compile_tool-0.1.0-py3-none-any.whl
op_gen @ file:///usr/local/Ascend/cann/tools/op_gen-0.1-py3-none-any.whl
op_test_frame @ file:///usr/local/Ascend/cann/tools/op_test_frame-0.1-py3-none-any.whl
opc_tool @ file:///home/mep/selfgz233935534/share/info/tbe-tik/python/opc_tool-0.1.0-py3-none-any.whl
openai==2.30.0
openai-harmony==0.0.8
opencv-python==4.5.4.60
opencv-python-headless==4.11.0.86
orjson==3.11.8
outlines==0.1.11
outlines_core==0.2.11
packaging==24.2
pandas==2.2.2
pandas-stubs==2.3.3.260113
partial-json-parser==0.2.1.1.post7
pathlib2==2.3.7.post1
pillow==10.4.0
pip==21.2.4
platformdirs==4.9.6
pooch==1.9.0
portalocker==3.0.0
priority==2.0.0
prometheus-fastapi-instrumentator==7.1.0
prometheus_client==0.25.0
propcache==0.4.1
protobuf==5.27.2
psutil==6.0.0
py-cpuinfo==9.0.0
pyairports==2.1.1
pyarrow==23.0.1
pybase64==1.4.3
pybind11==3.0.1
pycocotools==2.0.7
pycountry==24.6.1
pycparser==2.22
pycryptodome==3.20.0
pycryptodomex==3.21.0
pydantic==2.13.3
pydantic-extra-types==2.10.5
pydantic-settings==2.14.0
pydantic_core==2.46.3
pydub==0.25.1
Pygments==2.20.0
PyNaCl==1.6.2
pyparsing==3.2.0
python-dateutil==2.8.2
python-dotenv==1.2.2
python-json-logger==4.1.0
python-multipart==0.0.26
pytz==2024.2
PyYAML==6.0.1
pyzmq==27.1.0
Quart==0.20.0
ray==2.55.1
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
rich==15.0.0
rich-toolkit==0.19.7
rignore==0.7.6
rpds-py==0.26.0
safetensors==0.4.5
schedule_search @ file:///home/mep/selfgz233935534/share/info/tbe-tik/python/schedule_search-0.1.0-py3-none-any.whl
scikit-image==0.25.2
scikit-learn==1.7.2
scipy==1.14.1
sentencepiece==0.2.0
sentry-sdk==2.58.0
setproctitle==1.3.7
setuptools==82.0.1
setuptools-scm==10.0.5
shellescape==3.8.1
shellingham==1.5.4
show_kernel_debug_data @ file:///usr/local/Ascend/cann/tools/show_kernel_debug_data-0.1.0-py3-none-any.whl
six==1.16.0
sniffio==1.3.1
soundfile==0.13.1
soxr==1.0.0
sse-starlette==3.4.1
starlette==0.50.0
superkernel @ file:///home/mep/selfgz2092810613/graph_autofusion/lib/superkernel-0.1.0-py3-none-any.whl
supervisor==4.3.0
sympy==1.14.0
tabulate==0.10.0
taskgroup==0.2.2
te @ file:///home/mep/selfgz233935534/share/info/tbe-tik/python/te-0.4.0-py3-none-any.whl
threadpoolctl==3.6.0
tifffile==2025.5.10
tiktoken==0.12.0
timm==1.0.3
tokenizers==0.22.2
tomli==2.4.1
torch==2.8.0
torch_npu==2.8.0.post2
torchaudio==2.9.0
torchvision==0.23.0
tornado==6.5.5
tqdm==4.67.0
transformers==4.57.6
triton-ascend @ file:///tmp/ragent-mep-test/triton_ascend-3.2.0-cp310-cp310-manylinux_2_27_aarch64.manylinux_2_28_aarch64.whl
typer==0.24.1
types-pytz==2026.1.1.20260408
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2023.4
ujson==5.12.0
urllib3==2.2.3
uvicorn==0.24.0
uvloop==0.22.1
vcs-versioning==1.1.1
vllm==0.13.0
vllm_ascend==0.13.0
watchfiles==1.1.1
websockets==16.0
Werkzeug==3.1.3
wheel==0.46.3
wsproto==1.3.2
xgrammar==0.1.27
xxhash==3.6.0
yarl==1.23.0
zhconv==1.4.3
zipp==3.23.1
